.clock-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 2rem auto;
}

.dual-label {
  position: absolute;
  width: 30px;
  text-align: center;
  font-size: 0.65rem;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: inherit; /*<-! [CHANGED! allows text to follow theme]*/
}
